node_modules
.env
coverage
coverage.json
.nyc_output
typechain
typechain-types
.vscode

# Hardhat files
cache
artifacts

keystores
rpc-node-logs
etherscan-cache

# OS specific
.DS_store
# IDE
.idea
# config files
.envrc
