node_modules
coverage
coverage.json
typechain
typechain-types
.vscode

# Hardhat files
cache
artifacts

keystores
rpc-node-logs
etherscan-cache

# OS specific
.DS_store

.idea/*
.nyc_output/*


# Env files
.env
.envrc
